.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home{
  padding: 10px;
}

.rows__category__name{
  margin-left: 20px;
}

.row__posters{
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row__posters::-webkit-scrollbar{
  display: none;
}

.row__posters__block{
  width: 34rem;
  height: 250px;
  display: inline-block;
  margin: 10px;
  transition: transform 0.7s;
}

.row__posters__block:hover{
  transform: scaleX(1.03) scaleY(1.07);
  z-index: 1;
}

.about__profile{
  margin: 5rem;
}
.about__profile h1{
  margin-top: 32px;
  margin-bottom: 10px;
}
.about__profile div{
  margin-bottom: 35px;
}
.about__profilepic{
  transition: transform 1s;
}
.about__profilepic:hover{
  transform: scale(1.2);
}