.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home{
  padding: 10px;
}

.rows__category__name{
  margin-left: 20px;
}

.row__posters{
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row__posters::-webkit-scrollbar{
  display: none;
}

.row__posters__block{
  display: inline-block;
  width: 34rem;
  height: 250px;
  /* border: 2px solid black; */
  margin: 10px;
}

